[Unit]
Description=Sigfox End-Point Server service file
After=multi-user.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<absolute_path>/sigfox-ep-server
ExecStart=/usr/bin/python3 <absolute_path>/sigfox-ep-server/sigfox_ep_server.py
Restart=always
RuntimeMaxSec=3600

[Install]
WantedBy=multi-user.target
