[Unit]
Description=Sigfox End-Point Server startup script
After=multi-user.target

[Service]
Type=simple
User=ludo
WorkingDirectory=/home/ludo/git/sigfox-ep-server
ExecStart=/usr/bin/python3 /home/ludo/git/sigfox-ep-server/sigfox_ep_server.py
Restart=always
RuntimeMaxSec=3600

[Install]
WantedBy=multi-user.target
